<%- include('../partials/header') %>
<div class="container">
    <%- include('../partials/sidebar') %>
    <main>
        <h2><%= question.title %></h2>
        <p><%= question.content %></p>
    </main>
</div>
<%- include('../partials/footer') %>
